<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.RoadSpokenConnectionString" connectionString="Data Source=ADMIN-PC;Initial Catalog=RoadSpoken;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="DAL.Properties.Settings.RoadSpokenDbConnectionString" connectionString="Data Source=ADMIN-PC;Initial Catalog=RoadSpokenDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="DAL.Properties.Settings.RoadSpokenConnectionString1" connectionString="Data Source=.\sqlexpress;Initial Catalog=RoadSpoken;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="DAL.Properties.Settings.RoadSpokenConnectionString2" connectionString="Data Source=ashish-pc;Initial Catalog=RoadSpoken;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="DAL.Properties.Settings.RoadSpokenConnectionString3" connectionString="Data Source=ASHISH-PC\SQLEXPRESS;Initial Catalog=RoadSpoken;User ID=sa;Password=Sa12345" providerName="System.Data.SqlClient"/>
        <add name="DAL.Properties.Settings.RoadspokeConnectionString" connectionString="Data Source=ASHISH-PC;Initial Catalog=Roadspoke;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
